<ion-content>
  <div class="home">
    <ion-img id="home-vec" src="../../assets/img/bg/home-vec.png"></ion-img>
  
    <div class="options-content">
      <h1 class="header">Select game options</h1>
      <br><br>
      <ion-button class="btn-category" shape="round" *ngFor="let button of buttonsArray" [color]="button.selected ? 'primary' : 'medium'" (click)="toggleButton(button)">
        {{ button.label }}
      </ion-button>

      <br><br><br>
      <ion-button shape="round" color="success">Easy</ion-button>
      <ion-button shape="round" color="warning">Medium</ion-button>
      <ion-button shape="round" color="danger">Hard</ion-button>
      <ion-button shape="round" color="success">Expert</ion-button>
      <ion-button shape="round" color="success">Random</ion-button>

      <br><br>
      <ion-button shape="round" size="full" (click)="submit()">Submit</ion-button>
    </div>
  </div>
</ion-content>