.options-content{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 80%;
    text-align: center;
}

.btn-category{
    height: 35px;
}