<div class="score-tracker">
  <ion-button *ngFor="let quesans of quesAnsArray; let i = index" [color]="quesans.status === 0 ? 'medium' : quesans.status === 1 ? 'success' : 'danger'"></ion-button>
</div>

<div class="content">
  <h1 class="question" color="medium">{{ quesAnsArray[currentIndex].question }}</h1>
  <ion-button class="btnChoice"  *ngFor="let choices of quesAnsArray[currentIndex].choices; let itx=index" [color]="choices.selected ? 'primary' : 'medium'" shape="round" size="full" (click)="choiceRadio(currentIndex,itx)">{{ choices.choice }}</ion-button>

</div>
<ion-button id="submit" shape="round" size="full" (click)="goToNext(currentIndex)" [disabled]="answer===''">Submit</ion-button>
