<ion-content>
  <div class="home">
    <ion-img id="home-vec" src="../../assets/img/bg/home-vec.png"></ion-img>
  
    <div class="content-container">
      <div class="content">
        <ion-toggle [checked]="true" labelPlacement="fixed" id="toggle-theme" size="full"></ion-toggle><br /><br />
        <ion-img id="img-logo" src="../../assets/img/bg/logo-light.png"></ion-img>
    
        <ion-button (click)="home()" class="btn-home" shape="round">Solo</ion-button> <br>
        <ion-button class="btn-home" shape="round">Group</ion-button> 
        <br><br>
        <a href="http://facebook.com">Help, I'm new here</a>
        <br><br><br>
        <ul class="footer">
          <li><a href="">About Us</a></li>
          <li><a href="https://goo.gl/maps/yoESPZSbWPBTB2hS7">Our Headquarters</a></li>
          <li><a href="">Social Media</a></li>
          <li><a href="">Email</a></li>
        </ul>
    
        <a href="">2023 technoquiz.corp</a>
      </div>
    </div>
  </div>
</ion-content> 