<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Quiz App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="fetchTopics()">Fetch Topics</ion-button>

  <ion-card *ngIf="topics.length > 0">
    <ion-card-header>
      <ion-card-title>Topics</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let topic of topics">
          {{ topic.name }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
